<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- No INTERNET permission. Images/videos are selected by system file picker. -->
    <application android:label="LEDOA AI 다중 수동보정 v0.8.7" android:allowBackup="false" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:usesCleartextTraffic="false">
        <activity android:name="kr.ledoa.cut.aitest.MainActivity" android:exported="true" android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
